.settings-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.navbar a, .navbar button {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.accordion-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-button:hover {
  background-color: #45a049;
}

.accordion-content {
  padding: 10px 0;
  background-color: #f1f1f1;
  display: block;
  border-radius: 5px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.setting-item label {
  font-size: 16px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.add-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.add-button.active {
  background-color: #45a049;
}

.add-button:hover {
  background-color: #45a049;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #45a049;
}

.logout-button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #d32f2f;
}
